
.ng-scope {
  font-family: 'Poiret One', cursive;
  font-size: 20px;
}

#hideBtn {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 50px;
  margin: 0;
  background-color:#409990;
  height: 50px;
  -webkit-transition: width 2s;
  transition: width 2s;
}

#showBtn {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50px;
  margin: 0;
  background-color: #46494C;
  height: 50px;
}

#hideBtn:hover + #hide-hover {
  position: fixed;
  left: 0;
  visibility: visible;
  font-family: 'Dancing Script', cursive;
  background-color: #E8E1E1;
  padding: 10px;
}

#showBtn:hover + #show-hover {
  visibility: visible;
  position: fixed;
  right: 0;
  padding: 10px;
  background-color: #E8E1E1;
  font-family: 'Dancing Script', cursive;
}
#show-hover {
  visibility: hidden;
}
#hide-hover {
  visibility: hidden;
}

#body {
  background-color: #E8E1E1;
}

.container {
  width: 100%;
}

.navbar {
   height: 80px;
   animation-name: color;
   animation-duration: 30s;
   animation-iteration-count: infinite;
   width: 100%;
 }

 @keyframes color {
   0% { background-color: #77505F; }
   25% { background-color: #E8E1E1; }
   50% { background-color: #409990; }
   75% { background-color: #E8E1E1; }
   100% { background-color: #77505F; }
}

#nav {
  background-color: #46494C;
  margin: 0;
  border: 2px solid #E8E1E1;
}

.glyph {
  color: #46494C;
  font-size: 25px;
  margin-top: 14px;
  margin-left: 12px;
  z-index: 0;
}


#hideBtn-msg {
  border: 3px solid #ccc;
  display: none;
  text-transform: uppercase;
}

#hideBtn:hover #hideBtn-msg {
  display: block;
}

.page-header.typewriter {
  padding-top: 50px;
  border-bottom: 2px solid #77505F;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 40px;
  padding-right: 40px;
  margin-top: 0;
}

.typewriter #title{
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .2em;
  animation:
    typing 3.0s steps(20, end),
    blink-caret .7s step-end infinite;
}

@keyframes typing {
  from {width: 0}
  to {width: 100%}
}

@keyframes blink-caret {
  from, to {border-color: transparent;}
  50% { border-color: #77505F; }
}

.page-header h1 {
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 60px;
  font-family: 'Poiret One';
  color: #E8E1E1;
}

#aud {
  font-family: 'Dancing Script', cursive;
  font-size: 110px;
  letter-spacing: 4px;
  font-weight: 100;
  color: #77505F;
}

#title-script {
  font-family: 'Dancing Script', cursive;
  text-align: center;
  color: #E8E1E1;
}

@import "compass/css3";

@include keyframes(bounce) {
	0%, 20%, 50%, 80%, 100% {
    @include transform(translateY(0));
  }
	40% {
    @include transform(translateY(-30px));
  }
	60% {
    @include transform(translateY(-15px));
  }
}


.squares {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 100px;
  font-family: 'Poiret One', cursive;
}
.squares .items {
  height: 430px;
}

#glyph-square {
  padding-left: 120px;
  padding-top: 40px;
  font-size: 70px;
  color: #409990;
}


#home-text {
  padding: 20px;
  text-align: justify;
  font-size: 15px;
}

#special {
  font-weight: bolder;
  font-size: 15px;
}

button {
  width: 100px;
}

.btn {
  margin-left: 90px;
}

button#btn1.btn {
  margin-top: 40px;
}

button#btn2.btn{

}

button#btn3.btn {
  margin-top: 60px;
}

.items#item1{
  border-right: 1px solid black;
}

.items#item2 {
  border-right: 1px solid black;
}
.glyphicon-menu-right {
  font-size: 20px;
  color: #409990;
}

#square-title {
  color: #409990;
  font-weight: bolder;
  text-align: center;
  padding-bottom: 15px;
  top: 0;
}
footer {
  margin-top: 50px;

}
#footer-text {
  font-family: 'Poiret One', cursive;
  text-align: right;
  font-size: 20px;
  letter-spacing: 2px;
  bottom: 0;
  padding-top: 55px;
  padding-right: 10px;
}


/* POSTS PAGE */

.allPosts {
  padding-left: 25%;
  padding-right: 25%;
  padding-bottom: 10%;
  padding-top: 5%;
}

#postTitle {
  text-align: left;
  font-size: 80px;
  padding-left: 100px;
  letter-spacing: 14px;
  color: #E8E1E1;
}

.container .posts {
  margin-left: 50px;
}

#addGlyph {
  font-size: 40px;
  color: #409990;
  font-family: 'Poiret One', cursive;
  padding-right: 49%;
}

#border {
  border: 0;
}



/* EVENTS PAGE */
/*
#share-animate {
  width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    -webkit-animation-name: example;
    -webkit-animation-duration: 4s;
    animation-name: roll;
    animation-duration: 4s;
    animation-delay: 2s;
}*/

/*@keyframes roll {
    0%   {background-color:#E8E1E1; left:0px; top:0px;}
    25%  {background-color:#C2908F; left:200px; top:0px;}
    50%  {background-color:#EC7E7C; left:400px; top:0px;}
    75%  {background-color:#C182C5; left:700px; top:0px;}
    100% {background-color:#E8E1E1; left:800px; top:0px;}*/
}
.spin {
  padding:4em;
  background:#fcfcfc;
  height: 300px;
  background-color: #E8E1E1;
}


#share-animate {
  width: 100px;
  height: 3px;
  position: relative;
  background-color: #46494C;
  animation: spin 10s linear infinite;
  animation-play-state: running;
  z-index: 1;
  margin-left: 200px;
  display: inline;
  margin-top: 120px;
}



@keyframes spin {
  100% {transform: rotate(1turn); }
}


/* HEART PAGE */

#hearts-title {
  font-family: 'Poiret One', cursive;
  font-size: 80px;
  padding-bottom: 30px;
  text-align: center;
  color: #E8E1E1;
  letter-spacing: 7px;
  border-bottom: 3px solid #E8E1E1;
  border-left: 3px solid #E8E1E1;
  margin-bottom: 20px;
  width: 400px;
  margin-left: 100px;
  padding-right: 350px;
  padding-left: 35px;
  text-align: center;
}

#hearts-script {
  font-family: 'Dancing Script', cursive;
  padding-right: 3%;
  padding-top: 3%;
  text-align: right;
  color: #E8E1E1;
  bottom: 0;
  font-size: 30px;
  letter-spacing: 3px;
}

#piglet {
  padding-left: 25%;
  font-size: 20px;
}

#auth {
  font-weight: bolder;
}

#rig {
    max-width: 100%;
    margin:0 auto;
    padding-bottom: 70px;
    padding-left: 0;
    font-size:0;
    background-color: #409990;
}
#rig li {
    display: inline-block;
    *display:inline;
    width: 25%;
    vertical-align:middle;
    box-sizing:border-box;
    margin:0;
    padding:0;
}

.rig-cell {
    display:block;
    position: relative;
    overflow:hidden;
}


.rig-img {
    display:block;
    width: 100%;
    height: auto;
    border:none;
    transform:scale(1);
    transition:all 1s;
}

#rig li:hover .rig-img {
    transform:scale(1.05);
}

.rig-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #409990;
    background-size:50px 50px;
    opacity:0;
    filter:alpha(opacity=0);
    transition:all 0.6s;
}
#rig li:hover .rig-overlay {
    opacity:0.9;
}

.rig-text {
    display:block;
    padding:0 30px;
    box-sizing:border-box;
    position:absolute;
    left:0;
    width:100%;
    text-align:center;
    text-transform:capitalize;
    font-size:18px;
    font-weight:bold;
    font-family: 'Poiret One', sans-serif;
    font-weight: bolder;
    top:40%;
    color:white;
    opacity:0;
    transform:translateY(-20px);
    transition:all .3s;
}
#rig li:hover .rig-text {
    transform:translateY(0px);
    opacity:0.9;
}

@media (max-width: 9000px) {
    #rig li {
        width:25%;
    }
}

@media (max-width: 700px) {
    #rig li {
        width:33.33%;
    }
}

@media (max-width: 550px) {
    #rig li {
        width:50%;
    }
}

/* ADD COMMENT */

.addComment {
  padding-left: 25%;
  padding-right: 25%;
}

#comment-text {
  width: 60%;
}


/* ADD POST */

#addBtn {
  background: none;
  color: #E8E1E1;
  width: 100px;
  height: 40px;
}

#addBtn:hover {
  opacity: .6
}
#addCheck {
  color: #77505F;
  font-size: 30px;
}

.addPost {
  padding-left: 25%;
  padding-right: 25%;
}

#detail {
  font-size: 20px;
  padding-left: 1%;
  padding-top: 5%;
}

#post-msg {
  border: 3px solid #ccc;
  display: none;
  font-size: 10px;
  margin-top: 10px;
  padding: 5px;
  padding-left: 40px;
  text-transform: uppercase;
}

#detail:hover #post-msg {
  display: block;
}

/* EVENTS */
iframe {
  padding-left: 20px;
}

.body {
  background-color: #333333;
}

#eventTitle {
  text-align: center;
  font-size: 100px;
  border-bottom: 4px solid #E8E1E1;
  letter-spacing: 30px;
}

#allEvents {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 40px;
  margin-right: 40px;
}

.eventId {
  padding: 20px;
}

.eventId:hover{
  background-color: #C2908F;
}
#event1 {
  border-right: 3px solid #77505F;
  border-bottom: 3px solid #77505F;
}
#event2 {
  border-right: 3px solid #77505F;
  border-bottom: 3px solid #77505F;
}
#event3 {
  border-right: 3px solid #77505F;
  border-bottom: 3px solid #77505F;
}
#event4 {
border-bottom: 3px solid #77505F;
}
#event5 {
  border-right: 3px solid #77505F;
  border-bottom: 3px solid #77505F;
}
#event6 {
  border-right: 3px solid #77505F;
  border-bottom: 3px solid #77505F;
}
#event7 {
  border-right: 3px solid #77505F;
  border-bottom: 3px solid #77505F;
}
#event8 {
  border-bottom: 3px solid #77505F;
}
#event9 {
  border-right: 3px solid #77505F;
}
#event10 {
  border-right: 3px solid #77505F;
}
#event11 {
  border-right: 3px solid #77505F;
}
